<div class="login-container">
  <form #f="ngForm" method="POST" (ngSubmit)="login(f)">
    <div class="mb-3">
      <label class="form-label">Username</label>
      <input type="text" id="username" name="username" class="form-control" ngModel required>
    </div>
    <div class="mb-3">
      <label class="form-label">password</label>
      <input type="password" id="password" name="password" class="form-control" ngModel required>
    </div>
    <div class="d-grid gap-2 d-md-flex justify-content-md-center">
      <button class="btn btn-primary btn-lg" type="submit">Login</button>
    </div>
  </form>
</div>
